*.pdf
*.aux
*.log
*.out
*.toc
*.nav
*.idx
*.snm
*.vrb
*.ilg
*.ind
*.o
*.a
*_l.cpp
*_p.cpp
*_l.c
*_p.c
*_lo.ram
*_hi.ram
*.cmi
*.cmx
digmips_lexer.ml*
digmips_parser.ml*
*.obj
*.sym
*.fls
*.fdb_latexmk
*.bak

